# Ignore system files
.DS_Store

# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Ignore large processed data files
work/adv_mla_lab_2/data/processed/*.npy

# Ignore model files
work/adv_mla_lab_2/models/*.joblib
